<div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">累計</h5>
        <p class="card-text"><h4 class ="mt-1">学習数：<%= @study_record %></h4></p>
        <i class="fa-solid fa-tag size"></i>
     <span style="font-size:15px; margin:2px;">
     <% @tags_user_tag.each do |key,value| %>
      <br><%= "#{key}" %> <%= "(#{value})" %>
    </span>
    <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to '月別', column_chart_user_path(@user) %>
<%= pie_chart @chart, colors: ["#8EB8FF","#FFABCE","#E9FFA5","#9BF9CC	","#FFAD90" ] %>

<%= column_chart  @year_record, id: "users-chart", width: "400px", height: "500px" ,xtitle: "年", ytitle: "学習数"%>

<%= @week_record %>