<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">
   
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%=  'Re-START' %>
       <%= image_pack_tag 'media/images/rocket3.jpeg' %>
    <% end %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <%# <li class="nav-item dropdown dropdown-slide"> %>
          <%# <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> %>
            <%# 掲示板 %>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <%# <%= link_to '', '#', class: 'dropdown-item' %>
            <%# <%= link_to '', '#', class: 'dropdown-item' %> %> %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to user_path(current_user), class: 'nav-link' do %>
          <i class="fa-solid fa-house-user header"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path, class: 'nav-link' do %>
          <i class="fa-solid fa-users header"></i>
           <% end %>
        </li>
        <% if unchecked_notifications.any? %>
        <i class="fa fa-circle icon-bell"></i>
        <% end %>
        <li>
        <%= link_to notifications_path, class: "nav-link" do %>
        </li>
         <i class="fa-solid fa-bell bell"></i>
         <% end %>
        <li class="nav-item">
          <%= link_to logout_path, class: "nav-link", method: :delete do %>
          <i class="fa-solid fa-arrow-right-from-bracket header" ></i>
           <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>