<h1>Tags#show</h1>
<%# <%= link_to 'Tags List', tags_path %> %>

<%# タグ名 %>
<h3><%=@tag.name%></h3>
<%= link_to 'タグの削除', tag_path(@tag), method: :delete, data: {confirm: '関連づいた学習内容のタグが空になりますがタグを削除しますか？'} %>

<%# タグに関連付く記事一覧 %>
<%# <ul>
  <% @tag.posts.each do |post| %>
    <%# <li> %>
      <%# <%= link_to post.content, post_path(post) %> %>
    <%# </li> %>
  <%# <% end %> %> %>
</ul>
<div class="col-md-12">
<div class="card border-secondary mb-3" style="max-width: 30rem;">
  <% @tag.posts.each do |post| %>
    <%#タグに紐づく投稿の全件取得%>
 <div class="card-header">ユーザ名〇〇</div>
  <div class="card-body text-dark">
    <p class="card-text"><%= post.content%></p>
   <br>
    <%= link_to '編集', post_path(post) %>
    <%= link_to '削除', post_path(post), method: :delete, data: {confirm: '削除しますか？'} %>
    <br>
    <br>
     <%= l post.created_at, format: :long %>
    <br>
  </div>
   <% end %>
  </div>
</div>