<% content_for(:title, @positive_word.word) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t '.title' %></h1>
      <%= form_with model: @positive_word, url: admin_positive_word_path(@positive_word), local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :speaker %>
          <%= f.text_field :speaker, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :word, '言葉' %>
          <%= f.text_area :word, class: 'form-control' %>
        </div>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>