<h1><h1>Posts#index</h1>
<p>マイページ</p>

<h2>Post Actions --></h2>


<%= link_to '学習を登録する', new_post_path, class: "btn btn-light"%>

<h2>Tag Actions --></h2>
<%# <%= link_to 'Tags List', tags_path %> %>
<ul>
  <% @tags.each do |tag| %>
    <li>
      <%# タグの名前と、関連付く記事数を表示 %>
      <%= link_to "#{tag.name} (  #{tag.posts.count} )", tag_path(tag) %>
    </li>
  <% end %>
</ul>

<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>

  <% posts.each do |post| %>
    <div>
      <%= link_to post.tags.map(&:name).join(', '), post %>
    </div>
  <% end %>
<% end %>
<%# <h2>Posts --></h2> %>
<%# <% @posts.each do |post| %> %>
  <%# <div> %>
    <%# <%= link_to post.content, post_path(post) %> %>
  <%# </div> %>
<%# <% end %></h1> %>