<div style="margin:20px 20px; margin-left:120px">
<div class="text-left">
<%= link_to '学習を登録する', new_post_path, class: "btn btn-outline-secondary"%>
</div>
</div>
<div style="margin-left: 100px;">
<div class="col-md-12" >
<%# <h4>投稿</h4> %>
<%= render 'search_form', url: posts_path, q: @q %>
</div>
</div>
<div style="margin:100px;">
<div class="col-md-12">
<div class="card border-secondary mb-5" style="max-width: 45rem;">
<% @posts.each do |post| %>
  <div class="card-header">
   <% if post.user.avatar_image.url.present? %>
        <div class='mt-3 mb-3'>
          <%= image_tag post.user.avatar_image.url,
                        class: 'rounded-circle',
                        id: 'preview',
                        size: '50x50' %>
        </div>
         <% else %>
         <div class='mt-3 mb-3'>
         <%= image_pack_tag 'media/images/sample.jpeg',
                        class: 'rounded-circle',
                        id: 'preview',
                        size: '50x50' %>
        </div>
      <% end %>
  <%=link_to  post.user.decorate.full_name, user_path(post.user) %>
  </div>
    <div class="card-body text-dark">
    <p class="card-text"><%= simple_format(post.content)%></p>
   <br>
    <br>
     <%= post.created_at.strftime('%Y/%m/%d') %>
    <br>
    <br>
    <i class="fa-solid fa-tag size"></i>
     <%= post.tags.map(&:name).join(', ')%>
    <br>
     <br>
    <div class='mr10 float-left'>
      <span style=" margin-right:10px;">
        <%= link_to post_path(post) do %>
        <i class="fa-regular fa-file-lines size"></i>
      </span>
      <% end %>
    </div>
     <div class='mr10 float-left'>
    <span style="margin:10px;">
      <%= link_to post_path(post) do %>
      <i class="fa-regular fa-comment size"></i>
    </span>
    <% end %>
     <%= post.comments.count %> 
    </div>
      
      
   <div class='mr10 float-left'>
    <div id="favorite_btn_<%= post.id %>">
     <%= render partial: 'favorites/favorite',locals: {post: post} %>
    </div>
    </div>
  </div>
  <% end %>
</div>
<%= paginate @posts, theme: 'twitter-bootstrap-4' %>
</div>
</div>
</div> 