<%# <h1><h1>Posts#index</h1> %>

<div class="text-right">
<%= link_to '学習を登録する', new_post_path, class: "btn btn-outline-secondary"%>
</div>

<%= link_to 'Tags List', tags_path %>
<div>
  <% @posts.each do |post| %>
      <%# <%= link_to post.content ,post_path(post) %> %>
      <td><%= link_to  post.tags.map(&:name).join(', '), post_path(post) %></td>
  <% end %>
</div>

<%# <div> %>
  <%# <% @tags.each do |tag| %> %>
      <%# <%= link_to "#{tag.name} (  #{tag.posts.count} )", tag_path(tag) %> %>
  <%# <% end %> %>
<%# </div> %>


<div>
  <% @posts.each do |post| %>
      <%= link_to post.content ,post_path(post) %>
  <% end %>
</div>




<div class="col-md-9">
<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>
  <% posts.each do |post| %>
    <div>
      <%=post.tags.map(&:name).join(', ') %>
    </div>
  <% end %>
<% end %>
</div>
<%# <h2>Posts --></h2> %>
<%# <% @posts.each do |post| %> %>
  <%# <div> %>
    <%# <%= link_to post.content, post_path(post) %> %>
  <%# </div> %>
<%# <% end %></h1> %>