

 <i class="fa-solid fa-tag size"></i>

  <%# 該当のPostからアソシエーションでタグを取得 %>
  <% @post.tags.each do |tag| %>
    <%# タグを展開 %>
       <%= link_to "#{tag.name}", tag_path(tag) ,class:"btn btn-sm  btn-outline-secondary"%>
  <% end %>

<%# simple_formatは、pタグで囲み、改行コードをbrに変換する %>
<div class="col-md-12">
<div class="card border-secondary mb-3" style="max-width: 30rem;">
    <%#タグに紐づく投稿の全件取得%>
 <div class="card-header"><%= @post.user.decorate.full_name %></div>
  <div class="card-body text-dark">
    <p class="card-text"><%= @post.content%></p>
   <br>
    <span style="font-size:15px; margin:2px;">
    <%= link_to edit_post_path(@post) do %>
     <i class="fa-regular fa-pen-to-square size"></i>
    </span>
    <% end %>
     <span style="font-size:15px; margin:2px;">
    <%= link_to post_path(@post), method: :delete, data: {confirm: '削除しますか？'} do %>
      <i class="fa-regular fa-trash-can size"></i>
       </span>
     <% end %>
    <br>
    <br>
     <%= l @post.created_at, format: :long %>
    <br>
  </div>
  </div>
</div>