

 <i class="fa-solid fa-tag size"></i>

  <%# 該当のPostからアソシエーションでタグを取得 %>
  <% @post.tags.each do |tag| %>
    <%# タグを展開 %>
       <%= link_to "#{tag.name}", tag_path(tag) ,class:"btn btn-sm  btn-outline-secondary"%>
  <% end %>

<%# simple_formatは、pタグで囲み、改行コードをbrに変換する %>
<div class="col-md-8 offset-lg-1">
<div class="card border-secondary mb-3" style="max-width: 30rem;">
    <%#タグに紐づく投稿の全件取得%>
 <div class="card-header"><%= @post.user.decorate.full_name %></div>
  <div class="card-body text-dark">
    <p class="card-text"><%= @post.content%></p>
     <br>
      <%= @post.created_at.strftime('%Y/%m/%d') %>
    <br>
   <br>
   <% if current_user.id == @post.user.id %>
    <span style=" margin-right:10px;">
    <%= link_to edit_post_path(@post) do %>
     <i class="fa-regular fa-pen-to-square size"></i>
    </span>
    <% end %>
     <span style=" margin:2px;">
    <%= link_to post_path(@post), method: :delete, data: {confirm: '削除しますか？'} do %>
      <i class="fa-regular fa-trash-can size"></i>
       </span>
     <% end %>
     <% end %>
    <br>
    <br>
      <%= link_to favorite_post_path(@post), class: "btn btn-light" do %>
     いいね <%= @post.favorites.count %> 
      <% end %>
    <br>
  </div>
  </div>
  </div>
   
   <div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <!-- 掲示板内容 -->
      
       
          <div class='row'>
            <div class='col-md-9'>
            
            </div>
            <div class='col-md-9'>
             
  
            
            </div>
          </div>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { post: @post, comment: @comment } %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
</div>